{{>partials/header}}

{{#title}}
  <h2>{{title}} available for adoption</h2>
{{/title}}

<div>
  <div>
    <img src="/images/pastor-alemao.jpg"/>
    <div>Pastor-alemão</div>
    <div>Cor: Amarelo e Preto</div>
    <div>Gênero: Masculino</div>
  </div>
  <div>
    <img src="/images/labrador.jpg"/>
    <div>Labrador-retriever</div>
    <div>Cor: Branco</div>
    <div>Gênero: Masculino</div>
  </div>
  <div>
    <img src="/images/zwergspitz.jpg"/>
    <div>Zwergspitz</div>
    <div>Cor: Amarelo</div>
    <div>Gênero: Feminino</div>
  </div>
  <div>
    <img src="/images/husky.jpg"/>
    <div>Husky Siberiano</div>
    <div>Cor: Branco e Preto</div>
    <div>Gênero: Masculino</div>
  </div>
  <div>
    <img src="/images/golden.jpg"/>
    <div>Golden Retriever</div>
    <div>Cor: Amarelo</div>
    <div>Gênero: Masculino</div>
  </div>
  <div>
    <img src="/images/poodle.jpg"/>
    <div>Poodle</div>
    <div>Cor: Branco</div>
    <div>Gênero: Feminino</div>
  </div>
  <div>
    <img src="/images/bulldog.jpg"/>
    <div>Bulldog</div>
    <div>Cor: Branco e Amarelo</div>
    <div>Gênero: Masculino</div>
  </div>
  <div>
    <img src="/images/persa.jpg"/>
    <div>Persa</div>
    <div>Cor: Amarelo</div>
    <div>Gênero: Masculino</div>
  </div>
  <div>
    <img src="/images/mainecoon.jpg"/>
    <div>Maine Coon</div>
    <div>Cor: Preto e Branco</div>
    <div>Gênero: Masculino</div>
  </div>
  <div>
    <img src="/images/bengal.jpg"/>
    <div>Bengal</div>
    <div>Cor: Branco, Preto e Amarelo</div>
    <div>Gênero: Feminino</div>
  </div>
  <div>
    <img src="/images/siames.jpg"/>
    <div>Siamês</div>
    <div>Cor: Amarelo e Preto</div>
    <div>Gênero: Masculino</div>
  </div>
  <div>
    <img src="/images/sphynx.jpg"/>
    <div>Sphynx</div>
    <div>Cor: Branco</div>
    <div>Gênero: Masculino</div>
  </div>
  <div>
    <img src="/images/neon.jpg"/>
    <div>Tetra Neon</div>
    <div>Cor: Vermelho e Azul</div>
    <div>Gênero: Masculino</div>
  </div>
  <div>
    <img src="/images/matogrosso.jpg"/>
    <div>Mato Grosso</div>
    <div>Cor: Laranja</div>
    <div>Gênero: Masculino</div>
  </div>
  <div>
    <img src="/images/limpavidro.jpg"/>
    <div>Limpa Vidro</div>
    <div>Cor: Verde e Branco</div>
    <div>Gênero: Masculino</div>
  </div>
  <div>
    <img src="/images/tanictis.jpg"/>
    <div>Tanictis</div>
    <div>Cor: Vermelho</div>
    <div>Gênero: Masculino</div>
  </div>
  <div>
    <img src="/images/acara.jpg"/>
    <div>Acará Bandeira</div>
    <div>Cor: Preto</div>
    <div>Gênero: Masculino</div>
  </div>
</div>

{{>partials/footer}}
