{{>partials/header}}

{{#banner}}
  <h2>{{banner.title}} available for adoption</h2>
{{/banner}}

<div class="container list">
  {{#list}}
    <div class="item">
      <img src="/images/{{image}}" class="item-image" />

      <div class="item-name">{{name}}</div>

      <div class="item-description">
        <div class="item-color">Color: {{color}}</div>
        <div class="item-genre">Genre: {{genre}}</div>
      </div>
    </div>
  {{/list}}
</div>

{{>partials/footer}}
